*{
	box-sizing: border-box;
}

body{
	background-color: #9b59b6;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

#root{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box{
	background: #fff;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	width: 600px;
	max-width: 100%;
	text-align: center;
}

.box h2{
	margin-top: 0;
}

.box p{
	margin: 2rem;
}

.box button{
	background: rebeccapurple;
	color: white;
	border: none;
	border-radius: 3px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	padding: 0.5rem 2rem;
	cursor: pointer;
	transition: transform 0.2s linear;
}

.box button:active{
	transform: scale(0.98);
}

.box button:focus{
	outline:none;
}